// Vipkey TSF DLL - Resources
// SPDX-License-Identifier: GPL-3.0-only

#include "resource.h"
#include <windows.h>
#include "../core/Version.h"

IDI_VIET_ON  ICON "../app/resources/status/StatusViet.ico"
IDI_VIET_OFF ICON "../app/resources/status/StatusEng.ico"

// Version Information
VS_VERSION_INFO VERSIONINFO
    FILEVERSION    VIPKEY_VERSION_RC
    PRODUCTVERSION VIPKEY_VERSION_RC
    FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
    FILEFLAGS      VS_FF_DEBUG
#else
    FILEFLAGS      0x0L
#endif
    FILEOS         VOS_NT_WINDOWS32
    FILETYPE       VFT_DLL
    FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Nguyenx"
            VALUE "FileDescription",  "Vipkey TSF Input Processor"
            VALUE "FileVersion",      VIPKEY_VERSION_STR
            VALUE "InternalName",     "VipkeyTSF"
            VALUE "LegalCopyright",   "GPL-3.0-only"
            VALUE "OriginalFilename", "VipkeyTSF.dll"
            VALUE "ProductName",      "Vipkey"
            VALUE "ProductVersion",   VIPKEY_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
